/*--debugging------------------*/
.red {
  border: 1px dashed red !important; }

.blue {
  border: 1px dashed blue !important; }

.green {
  border: 1px dashed green !important; }

.bg_red {
  background-color: red !important; }

.bg_blue {
  background-color: blue !important; }

.bg_green {
  background-color: green !important; }

/*--global------------------*/
.left {
  float: left; }

.right {
  float: right; }

.relative {
  position: relative; }

.clear {
  clear: both; }

div {
  margin: 0px; }

body {
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: #222222; }

/*--top------------------*/
#main-top {
  background-color: #303437;
  color: #ffffff;
  text-align: center; }
  #main-top #top-title {
    display: block;
    padding: 20px 0px;
    font-size: 24px;
    position: relative; }
    #main-top #top-title .top-side {
      width: 40%;
      text-align: center;
      display: inline-block;
      font-size: 14px;
      position: absolute;
      top: 50%;
      line-height: 20px;
      margin-top: -10px; }
    #main-top #top-title #top-side-left {
      left: 0px; }
    #main-top #top-title #top-side-right {
      right: 0px; }
      #main-top #top-title #top-side-right span {
        position: relative; }
      #main-top #top-title #top-side-right img {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 50%;
        margin-top: -16px;
        margin-left: -40px; }
  #main-top #top-filter {
    display: block;
    margin: 10px 3%;
    padding: 15px 20px;
    border-top: 3px solid #ffffff; }
    #main-top #top-filter .top-filter-select {
      float: left;
      display: inline-block;
      padding: 2px; }
      #main-top #top-filter .top-filter-select select {
        padding: 5px 15px;
        background-color: #303437;
        border: 0px;
        color: #ffffff;
        font-size: 15px; }
    #main-top #top-filter span {
      float: left;
      padding: 5px; }

/*--content------------------*/
.bg-skyblue {
  background: #24AAE1; }

.bg-green {
  background: #2BB572; }

.bg-blue {
  background: #2BB572; }

.bg-pink {
  background: #F176AD; }

.bg-red {
  background: #BE1D2C; }

#main-content {
  position: relative; }
  #main-content #time-container {
    width: 50px;
    position: absolute;
    left: 0px;
    top: 165px;
    height: 100%;
    display: inline-block; }
    #main-content #time-container .class-schedule {
      text-align: right;
      height: 150px;
      margin: 14px 0px; }
      #main-content #time-container .class-schedule .time-hour {
        margin-top: 5px; }
      #main-content #time-container .class-schedule .time-min {
        opacity: 0.3;
        font-size: 14px;
        margin-top: 20px; }
  #main-content #schedules {
    display: block;
    margin-left: 60px;
    overflow-x: auto;
    white-space: nowrap; }
    #main-content #schedules .week {
      display: inline-block;
      text-align: center;
      margin-left: -4px;
      margin: 0px 20px; }
      #main-content #schedules .week:first-of-type {
        margin-left: 0px; }
    #main-content #schedules .week-name {
      font-family: "Lato-Regular";
      text-align: center;
      color: #878786;
      padding: 18px;
      border-bottom: 1px solid gray; }
    #main-content #schedules .week-activity {
      padding: 5px;
      text-align: center;
      background-color: #ececec;
      color: #878786; }
    #main-content #schedules .day-schedule {
      float: left; }
    #main-content #schedules .day-class-student {
      text-align: center;
      padding: 20px; }
    #main-content #schedules .day-class {
      margin: 14px 7px;
      width: 200px;
      height: 150px;
      color: #ffffff;
      border: 1px solid #ffffff; }
      #main-content #schedules .day-class .day-class-inner {
        margin: 15px;
        position: relative;
        text-align: left; }
        #main-content #schedules .day-class .day-class-inner div {
          margin: 8px 0px; }
        #main-content #schedules .day-class .day-class-inner .day-class-time {
          font-size: 22px; }
        #main-content #schedules .day-class .day-class-inner .day-class-action {
          font-size: 25px; }
        #main-content #schedules .day-class .day-class-inner .day-class-by {
          margin-top: 16px;
          font-size: 15px; }
        #main-content #schedules .day-class .day-class-inner .day-class-text {
          opacity: 0.7;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 16px; }
        #main-content #schedules .day-class .day-class-inner img {
          width: 35px;
          height: 35px;
          position: absolute;
          top: -5px;
          right: 0px; }
        #main-content #schedules .day-class .day-class-inner .day-class-rate {
          position: absolute;
          bottom: -10px;
          right: -0px;
          font-size: 15px; }

/*--footer------------------*/
#main-footer {
  border: 1px dashed red;
  text-align: center;
  padding: 20px; }

/*# sourceMappingURL=main.css.map */
